server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    server_name {{ app_domain_name }};

    location / {
        proxy_pass http://localhost:{{ app_port_number  }};
    }
}